.button {
    background-color: @blue;
    border-radius: 0;
    border: none;
    color: @white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1.75rem;
    text-align: center;
    width: auto;
    position: relative;
    transition: all .6s linear;
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: darken(@blue, 20%);
        transition: all 0.6s;
    }
    &:hover {
        background: darken(@blue, 25%);
        color: @white;
        span {
            width: 100%;
        }
    }
}
