.snaap-checkbox {
    label {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 0.1rem;
            margin-right: 0.5rem;
            width: 0.875rem;
            height: 0.875rem;
            border: solid 1px @blue;
            line-height: 1rem;
            transition: background 0.05s linear;
        }
    }
    input {
        display: none;
        &:checked {
            & + label {
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 0.40rem;
                    top: 0.41rem;
                    width: 3px;
                    height: 6px;
                    border-color: @white;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    transform: rotate(45deg);
                    animation: scale 0.15s;
                }
                &:before {
                    background-color: @blue;
                }
            }
        }
    }
}
