.snaap-radio {
    label {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 0.1rem;
            margin-right: 0.5rem;
            width: 0.875rem;
            height: 0.875rem;
            border: solid 1px @blue;
            border-radius: 100%;
            transition: box-shadow .25s cubic-bezier(0.4, 0, 0.2, 1)
        }
    }
    input {
        display: none;
        &:checked {
            & + label {
                &:before {
                    background: @blue;
                    box-shadow: inset 0 0 0 3px @white;
                }
            }
        }
    }
}
