.snaap-select {
    position: relative;
    select {
        display: none;
    }
    .snaap-select--field {
        position: relative;
        border: solid 1px lighten(@gray, 15%);
        width: auto;
        box-sizing: content-box;
        padding: 0.25rem 2rem .25rem .25rem;
        margin: 0.5rem 0;
        &:after {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            border-style: solid;
            top: 0.55rem;
            right: 0.50rem;
            position: absolute;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: @blue;
        }
    }
    ul {
        list-style-type: none;
        list-style-position: inside;
        text-indent: 0.25rem;
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 2.0625rem;
        background-color: @white;
        li {
            &:hover,
            &:active {
                background: @blue;
                color: @white;
            }
        }
        &.snaap-select--field---active {
            height: auto;
            max-height: 8rem;
            overflow-y: scroll;
            border: solid 1px lighten(@gray, 15%);
            box-shadow: inset 0 3px 11px -7px @black;
            z-index: 1;
        }
    }
}
