@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
    color: @gray;
    box-sizing: border-box;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
}
section {
    margin: 3rem 0;
    &:first-of-type {
        margin-top: 0;
    }
}